<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../annur-site/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../annur-site/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../annur-site/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../annur-site/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/libs/grid.css">
    <link rel="stylesheet" href="../annur-admin/style.css">
    <link rel="stylesheet" href="../annur-admin/students.css">
    <title>AN NUR Student</title>
</head>

<body>

    <!-- Header starting -->
    <header>
        <nav>
            <div class="row">
                <div class="col-3 col-xl-4 col-md-6 col-sm-8">
                    <div class="header-box">
                        <i class="fa fa-bars"></i>
                        <a href="../annur-site/index.html" class="logo">
                            <img src="../annur-site/assets/images/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <a href="../annur-site/index.html"> <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </nav>

        <div class="header-mobile">
            <ul>
                <li>
                    <a href="./Group.html"><i class="fa-solid fa-people-group"></i>Groups</a>
                </li>
                <li>
                    <a href="./shop.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a>
                </li>
                <li>
                    <a href="./reyting.html"><i class="fa-solid fa-chart-simple"></i>Rate</a>
                </li>

                <li>
                    <a href="./info.html"><i class="fa-solid fa-gear"></i>info</a>
                </li>
            </ul>
            <i class="fa fa-close"></i>
        </div>
    </header>


    <!-- Main starting -->
    <main>
        <div class="wrap">
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="./Group.html"><i class="fa-solid fa-people-group"></i>Groups</a>
                    </li>
                    <li>
                        <a href="./shop.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a>
                    </li>
                    <li>
                        <a href="./reyting.html"><i class="fa-solid fa-chart-simple"></i>Rate</a>
                    </li>

                    <li>
                        <a href="./info.html"><i class="fa-solid fa-gear"></i>info</a>
                    </li>
                </ul>
            </div>
            <div class="main-content shop-content">
                <h1 class="title">Shop</h1>
                <div class="row">
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                    <div class="col-3 col-xl-4 col-lg-6 col-sm-12">
                        <div class="shop-box">
                            <div class="shop-img">
                                <img src="./assets/images/shop-img.png" alt="shop img">
                            </div>
                            <h2>Robert grin; Mahorat</h2>
                            <ul>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                                <li>
                                    <span>Lorem ipsum</span>
                                    <img src="./assets/images/coin.svg" alt="coin img">
                                </li>
                            </ul>
                            <button class="btn1">kumushingiz yetarli</button>
                            <button class="btn2">kumushingiz yetarli emas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./script.js"></script>
</body>

</html>