{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'annur-site/assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'annur-site/assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'annur-site/assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'annur-site/assets/favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mentor/assets/libs/grid.css' %}">
    <link rel="stylesheet" href="{% static 'mentor/students.css' %}">
    <link rel="stylesheet" href="{% static 'mentor/style.css' %}">
    <title>AN NUR Mentor</title>
</head>

<body>

    <!-- Header starting -->
    <header>
        <nav>
            <div class="row">
                <div class="col-3 col-xl-4 col-md-6 col-sm-8">
                    <div class="header-box">
                        <i class="fa fa-bars"></i>
                        <a href="#!" class="logo">
                            <img src="{% static '/annur-site/assets/images/logo.svg' %}" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <a href="{% url 'mentor:index' %}"> <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </nav>

        <div class="header-mobile">
            <ul>
                <li>
                    <a href="{% url 'mentor:group' %}"><i class="fa-solid fa-users-line"></i> Groups</a>
                </li>
                <li>
                    <a href="{% url 'mentor:student' %}"><i class="fa-solid fa-graduation-cap"></i> Student</a>
                </li>
                <li>
                    <a href="{% url 'mentor:reyting' %}"><i class="fa-solid fa-chart-simple"></i> Reyting</a>
                </li>
                <li>
                    <a href="{% url 'mentor:user' %}"><i class="fa-solid fa-user-plus"></i> New users</a>
                </li>
                <li>
                    <a href="{% url 'mentor:info' %}"><i class="fa-solid fa-gear"></i> Info</a>
                </li>
            </ul>
            <i class="fa fa-close"></i>
        </div>
    </header>

    <!-- Main starting -->
    <main>
        <div class="wrap">
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="{% url 'mentor:group' %}"><i class="fa-solid fa-users-line"></i> Groups</a>
                    </li>
                    <li>
                        <a href="{% url 'mentor:student' %}"><i class="fa-solid fa-graduation-cap"></i> Student</a>
                    </li>
                    <li>
                        <a href="{% url 'mentor:reyting' %}"><i class="fa-solid fa-chart-simple"></i> Reyting</a>
                    </li>
                    <li>
                        <a href="{% url 'mentor:user' %}"><i class="fa-solid fa-user-plus"></i> New users</a>
                    </li>
                    <li>
                        <a href="{% url 'mentor:info' %}"><i class="fa-solid fa-gear"></i> Info</a>
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <h1 class="title">New user</h1>
                <form action="#!">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Surname">
                    <input type="text" placeholder="Group name">
                    <button>Qo‘shish</button>
                </form>
            </div>
        </div>
    </main>



    <script src="{% static 'mentor/script.js' %}"></script>
</body>

</html>